@font-face {font-family: 'Arimo';font-weight:bold;font-style:normal;src: url("xara_font_2.woff?62") format("woff");}
@font-face {font-family: 'Arimo';font-weight:bold;font-style:normal;src: url("xara_font_3.woff?62") format("woff");}
