@font-face
{
   font-family: "Material Icons";
   font-display: swap;
   src: url('https://frc.multireligionvalsystem.eu.org/How-to-Implement-a-Multi-Religion-Electoral-System--A-Step-by-Step-Guide/MaterialIcons-Regular.woff2') format('woff2'),
        url('https://frc.multireligionvalsystem.eu.org/How-to-Implement-a-Multi-Religion-Electoral-System--A-Step-by-Step-Guide/MaterialIcons-Regular.woff') format('woff'),
        url('https://frc.multireligionvalsystem.eu.org/How-to-Implement-a-Multi-Religion-Electoral-System--A-Step-by-Step-Guide/MaterialIcons-Regular.ttf') format('truetype');
}
@keyframes animate-fade-out
{
   0% { opacity: 1;  }
   100% { opacity: 0;  }
}
@keyframes animate-rotate-in-left
{
   0% { transform: translate(-1000px,0px) rotate(0deg) ; opacity: 0;  }
   50% { opacity: 1;  }
   100% { transform: translate(0px,0px) rotate(360deg) ;  }
}
@keyframes transform-lightspeed-in
{
   0% { transform: translate(100%,0px) rotate(0deg) skewX(-30deg) ; opacity: 0;  }
   60% { transform: translate(-20%,0px) rotate(0deg) skewX(30deg) ; opacity: 1;  }
   80% { transform: translate(0px,0px) rotate(0deg) skewX(-15deg) ; opacity: 1;  }
   100% { transform: translate(0px,0px) rotate(0deg) skewX(0deg) ; opacity: 1;  }
}
@keyframes transform-scale-in
{
   0% { opacity: 0; transform: rotate(0deg) scale(0,0) ;  }
   100% { opacity: 1; transform: rotate(0deg) scale(1.0,1.0) ;  }
}
@keyframes transform-swing
{
   0% { transform: rotate(0deg) ;  }
   20% { transform-origin: top center; transform: rotate(15deg) ;  }
   40% { transform-origin: top center; transform: rotate(-10deg) ;  }
   60% { transform-origin: top center; transform: rotate(5deg) ;  }
   80% { transform-origin: top center; transform: rotate(-5deg) ;  }
   100% { transform-origin: top center; transform: rotate(0deg) ;  }
}
@keyframes vanish-in
{
   0% { transform: rotate(0deg) scale(2,2) ; opacity: 0; transform-origin: 50% 50%;  }
   100% { transform: rotate(0deg) scale(1,1) ; opacity: 1; transform-origin: 50% 50%;  }
}
h1, .h1
{
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
   text-decoration: none;
   color: #000000;
   --color: #000000;
   background-color: transparent;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   display: inline;
}
h2, .h2
{
   font-family: Arial;
   font-weight: bold;
   font-size: 27px;
   text-decoration: none;
   color: #000000;
   --color: #000000;
   background-color: transparent;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   display: inline;
}
h3, .h3
{
   font-family: Arial;
   font-size: 24px;
   text-decoration: none;
   color: #000000;
   --color: #000000;
   background-color: transparent;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   display: inline;
}
h4, .h4
{
   font-family: Arial;
   font-size: 21px;
   font-style: italic;
   text-decoration: none;
   color: #000000;
   --color: #000000;
   background-color: transparent;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   display: inline;
}
h5, .h5
{
   font-family: Arial;
   font-size: 19px;
   text-decoration: none;
   color: #000000;
   --color: #000000;
   background-color: transparent;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   display: inline;
}
h6, .h6
{
   font-family: Arial;
   font-size: 16px;
   text-decoration: none;
   color: #000000;
   --color: #000000;
   background-color: transparent;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   display: inline;
}
.CustomStyle
{
   font-family: "Courier New";
   font-weight: bold;
   font-size: 16px;
   text-decoration: none;
   color: #2E74B5;
   --color: #2E74B5;
   background-color: transparent;
}
@media only screen and (min-width: 480px) and (max-width: 969px)
{
}
@media only screen and (max-width: 479px)
{
}
