@font-face {font-family: 'Roboto';font-weight:normal;font-style:normal;src: url("xara_font_1.woff?1") format("woff"), local('Roboto');}
@font-face {font-family: 'Open Sans';font-weight:normal;font-style:normal;src: url("xara_font_2.woff?1") format("woff"), local('Open Sans');}
@font-face {font-family: 'xr3_Georgia';font-weight:bold;font-style:normal;src: url("xara_font_3.woff?1") format("woff"), local('xr3_Georgia');}
@font-face {font-family: 'Grand Hotel';font-weight:normal;font-style:normal;src: url("xara_font_4.woff?1") format("woff"), local('Grand Hotel');}
@font-face {font-family: "xr_pgr"; font-weight:600; src: url("xr_pgr.woff") format("woff");}
